doctype html
html
	head
		title.
			CRUD Mysql - NodeJS
		style
			include ../public/assets/css/styles.css
			include ../public/assets/css/normalize.css
			include ../public/assets/css/skeleton.css
	body
		block container